@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}


/* O primeiro nome diz de qual parte ele é */

/* Estilos dos cards de produto */

.cardProduto{
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 46, 150);
    width: 15rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 0.02rem solid rgba(0, 0, 0, 0.35);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0.5rem;

}
.cardProduto img{
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    border: 0.02rem solid rgba(0, 0, 0, 0.35);

}
.cardProduto button{
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transição dos efeitos de aumentar e mudar de cor */
}
.cardProduto button:hover {
    background-color: #0056b3; /* Fica mais escuro quando passa o mouse */
    transform: scale(1.05); /* Aumenta quando clica */
}
.cardProduto button:active {
    background-color: #00408a; /* Fica mais escuro quando clica */
    transform: scale(0.98); /* Diminui quando clica */
}

.cardProduto span{
    background-color: yellow;
}
#produtos{
    display: flex;
    flex-wrap: wrap;
    background-color: darkslategray;
    overflow-y: scroll;
    scrollbar-width: none; /* Tava feio com barra de rolagem :C */
}

/* Header */
header{
    background-color: rgb(7, 38, 60);
    display: flex;
    justify-content: space-between;
    flex: 1;
}

header nav{
    align-self: center;

    
}
header nav ul {
    display: flex;
    list-style-type: none;
    gap: 80px;
    align-items: start;
    padding-right: 100px;    
}

header nav  a{
    text-decoration: none;
    border-radius: 15px;
    outline: 3px solid transparent;
    background-color: rgb(5, 9, 246);
    padding: 15px;
    color: white;
    font-size: large;
    transition: outline 0.4s;
    font-family: Outfit;
} 
header nav a:hover{
    outline: 3px rgb(255, 255, 255) solid;

}

header img{
    padding-top: 10px;
}


/* MAIN */

main{
    flex: 5;
    display: flex;

}


main .secao1{
    background-color: brown;
    /* Cor apenas para visualização */
    flex: 1;
}

main .secao2{
    background-color: rgb(255, 0, 191);
    flex: 4;
}

/* FOOTER */
footer{
    background-color: aqua;
    flex:1;
    display: flex;
    justify-content: space-around;
}

footer ul{
    padding-top: 5px;
    list-style: none;
    cursor: default ;
    
}
footer li{
    padding-top: 10px;
}


